terraform {
  backend "s3" {
    bucket         = "my-tfstate-bucket"
    key            = "cluster-api/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "tfstate-lock"
    encrypt        = true
  }
}
