# Local environment & secrets
.env
.gcp-sa.json

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# OS/editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
